:root {
  --bg-color: #6eaa73;
  --primary-color: #32502e;
  --secondary-color: #c0d9c9;
  --nav-color: #ffffff;
  --nav-bg: #6eaa73;
  --nav-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #ffffff;
  /* position: relative; */
  overflow-x: hidden;
}

.desktop-only {
  display: none;
}

.btn {
  padding: 0.7em 1.7em;
  font-size: clamp(0.6875rem, 1vw + 0.5rem, 1.25rem);
  transition: all 0.2s ease-in-out;
}

.btn-secondary {
  text-decoration: none;
  font-weight: 700;
  color: var(--primary-color);
  background: none;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: var(--primary-color);
}

.btn-primary {
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
}

.btn-primary:hover {
  color: var(--primary-color);
  background: none;
}

.btn-link {
  text-decoration: underline;
  font-weight: 400;
  color: #ffffff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 1.5rem;
}

.btn-link:hover {
  color: var(--primary-color);
  background: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100vw;
  color: var(--nav-color);
  background-color: var(--nav-bg);
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1.2rem;
  z-index: 20;
  box-shadow: var(--nav-shadow);
  transition: all 0.3s ease-in-out;
}

.nav-logo {
  height: 100%;
}

.nav-logo a {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.nav-logo h1 {
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-logo img {
  height: 100%;
}

.nav-links {
  display: flex;
  position: absolute;
  top: 3rem;
  left: 0;
  width: 70%;
  height: calc(100vh - 3rem);
  background-color: var(--nav-bg);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}

.nav-links.active {
  opacity: 1;
  transform: translateX(0);
}

.nav-item a {
  text-decoration: none;
  color: var(--nav-color);
  font-size: 1rem;
}

.nav-item {
  transition: all 0.1s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.1);
}

.humberger-menu {
  height: 1.3rem;
  width: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
  cursor: pointer;
}

.bar-1,
.bar-2,
.bar-3 {
  flex: 1;
  background-color: var(--nav-color);
  border-radius: 1px;
  transition: all 0.3s ease-in-out;
}

.bar-1.active {
  transform: rotate(45deg);
  transform-origin: left bottom;
}

.bar-3.active {
  transform: rotate(-45deg);
  transform-origin: left top;
}

.bar-2.active {
  opacity: 0;
}

.container {
  padding: 0 1rem;
}

main {
  text-align: center;
}

.hero {
  padding-top: 3rem;
  background: rgb(165, 200, 241);
  background: linear-gradient(
    180deg,
    var(--bg-color) 20%,
    rgba(255, 255, 255, 1) 80%
  );
  position: relative;
}

.hero .hero-title {
  text-transform: uppercase;
  font-size: clamp(2.25rem, 4vw + 0.5rem, 4rem);
  font-weight: 700;
  line-height: 1.5;
  color: var(--primary-color);
  margin-bottom: 0.3rem;
}

.hero p {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1;
  width: 90%;
  margin: 0 auto;
}

.hero .hero-image {
  width: 100%;
}

.services {
  margin-top: 2rem;
}

.services-title {
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--primary-color);
  width: 70%;
  margin: 0 auto 1rem;
}

.service-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.service-item {
  flex: 0 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-item p {
  font-size: 0.6875rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0.5rem;
}

.service-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 2rem;
  color: #f24e1e;
}

.service-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-ac {
  height: auto;
  width: 100%;
  margin-top: 1rem;
}

.feature-item {
  margin-bottom: 2rem;
}

.title {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--primary-color);
  width: 80%;
  margin: 0 auto 0.5rem;
}

.title span {
  color: var(--bg-color);
}

.feature-desc p {
  font-size: 0.6875rem;
  font-weight: 400;
  width: 80%;
  margin: 0 auto 0.5rem;
}

.feature-img {
  width: 90%;
}

.contact {
  padding: 2rem 0 0;
  position: relative;
}

.contact-links {
  margin: 1rem auto 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-btn {
  margin: 0 auto;
  width: 70%;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
}

.contact-maps {
  border: 0;
  width: 100%;
  height: 50vh;
}

.contact-vec {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer {
  padding: 0 2rem 3rem;
  background-color: var(--primary-color);
}

.footer-logo {
  height: 3rem;
}

.footer-logo a {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;
}

.footer-logo h1 {
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-logo img {
  height: 100%;
}

.footer-list {
  display: flex;
  gap: 1rem;
  text-align: left;
  margin-top: 2rem;
}

.footer-nav {
  width: 50%;
}

.footer-title {
  font-size: 0.6875rem;
  color: var(--secondary-color);
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-content {
  list-style: none;
  font-size: 0.6875rem;
  font-weight: 400;
  color: #ffffff;
}

.footer-content li {
  margin-bottom: 0.5rem;
}

.slide-item {
  padding: 0.5rem 0;
}

.slide-item img {
  width: 80%;
  height: 26rem;
  object-fit: cover;
  object-position: top center;
  padding: 0.5rem 0;
}

.splide__pagination {
  bottom: -1.5rem;
}

.splide__arrow {
  background: var(--primary-color);
}

.splide__pagination__page.is-active {
  background: var(--primary-color);
}

.portfolio {
  padding: 2rem 0 3rem;
  background-color: var(--secondary-color);
}

.portfolio h2 {
  text-align: center;
}

@media screen and (min-width: 992px) {
  :root {
    --nav-color: #000000;
    --nav-bg: #ffffff;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .container {
    padding: 0 10rem;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10rem;
  }

  .nav-logo h1 {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 0.3rem;
  }

  .humberger-menu {
    display: none;
  }

  .nav-links {
    position: static;
    width: 30%;
    height: 100%;
    background: none;
    flex-direction: row;
    justify-content: space-between;
    transform: translateX(0);
    color: inherit;
    opacity: 1;
  }

  .nav-item a {
    font-size: 0.875rem;
  }

  main {
    text-align: left;
  }

  .hero {
    min-height: 100vh;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
      180deg,
      var(--bg-color) 20%,
      rgba(255, 255, 255, 1) 100%
    );
    position: relative;
  }

  .hero .hero-image {
    position: absolute;
    right: 10rem;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
  }

  .hero .hero-desc {
    width: 55%;
    z-index: 10;
  }

  .hero .hero-title {
    line-height: normal;
  }

  .hero .hero-subtitle {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--primary-color);
  }

  .hero p {
    font-size: 1.5rem;
    width: 90%;
    margin: 0;
  }

  .hero-cta {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .feature {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .feature-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
  }

  .feature-item:nth-of-type(2) {
    flex-direction: row-reverse;
  }

  .feature-img {
    width: 40%;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 700;
    width: auto;
  }

  .feature-desc p {
    font-size: 1.5rem;
    width: auto;
  }

  .portfolio {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }

  .slide-item {
    padding: 2rem 0;
    text-align: center;
  }

  .slide-item img {
    width: 100%;
    height: 32rem;
    object-fit: cover;
    object-position: top center;
    padding-bottom: 2rem;
  }

  .services {
    text-align: center;
    padding-bottom: 10rem;
  }

  .services-title {
    font-size: 2.5rem;
    width: auto;
  }

  .service-item p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  .service-list {
    justify-content: space-between;
    margin-top: 4rem;
  }

  .service-icon {
    width: 10rem;
    height: 10rem;
    font-size: 6rem;
  }

  .service-wraper {
    width: 14rem;
    height: 14rem;
  }

  .contact {
    padding-top: 2rem;
    padding-bottom: 10rem;
    gap: 2rem;
    display: flex;
    align-items: flex-start;
  }

  .contact .title {
    font-size: 2rem;
  }

  .contact-links p {
    font-size: 1.5rem;
    text-align: left;
    padding-top: 3.5rem;
  }

  .contact-links {
    margin: 0;
    gap: 2.5rem;
    text-align: center;
  }

  .contact-btn {
    width: 100%;
  }

  .contact-maps {
    width: 100%;
    height: 90vh;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 4rem;
  }

  .footer-logo {
    height: auto;
    width: 40%;
  }

  .footer-logo a {
    height: 6rem;
  }

  .footer-logo h1 {
    font-size: 2rem;
  }

  .footer-logo p {
    color: #ffffff;
    font-size: 1.25rem;
    margin-top: 2rem;
  }

  .footer-list {
    margin-top: 2rem;
    justify-content: space-between;
    width: 50%;
  }

  .footer-nav {
    width: auto;
  }

  .footer-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .footer-content {
    font-size: 1.25rem;
  }

  .footer-content li {
    margin-bottom: 1rem;
  }
}
