:root {
  --bg-color: #a5c8f1;
  --primary-color: #394c7b;
  --secondary-color: #b6c3e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  /* position: relative; */
  overflow-x: hidden;
}

.btn {
  padding: 0.5em 2em;
  color: #ffffff;
  background-color: var(--primary-color);
  font-size: 0.6875rem;
}

.btn-primary {
  text-decoration: none;
  font-weight: 700;
  border-radius: 0.5rem;
}

.btn-link {
  text-decoration: underline;
  font-weight: 400;
  border-radius: 1.5rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100vw;
  background-color: var(--bg-color);
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1.2rem;
  z-index: 10;
}

.nav-logo {
  height: 100%;
}

.nav-logo a {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-logo h1 {
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-logo img {
  height: 100%;
}

.nav-links {
  display: flex;
  position: absolute;
  top: 3rem;
  left: 0;
  width: 70%;
  height: calc(100vh - 3rem);
  background-color: var(--bg-color);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}

.nav-links.active {
  opacity: 1;
  transform: translateX(0);
}

.nav-item a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}

.nav-item {
  transition: all 0.3s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.1);
}

.humberger-menu {
  height: 1.3rem;
  width: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
  cursor: pointer;
}

.bar-1,
.bar-2,
.bar-3 {
  flex: 1;
  background-color: #ffffff;
  border-radius: 1px;
  transition: all 0.3s ease-in-out;
}

.bar-1.active {
  transform: rotate(45deg);
  transform-origin: left bottom;
}

.bar-3.active {
  transform: rotate(-45deg);
  transform-origin: left top;
}

.bar-2.active {
  opacity: 0;
}

.container {
  padding: 0 1rem;
}

main {
  text-align: center;
}

.hero {
  padding-top: 3rem;
  background: rgb(165, 200, 241);
  background: linear-gradient(
    180deg,
    var(--bg-color) 20%,
    rgba(255, 255, 255, 1) 80%
  );
  position: relative;
}

.hero .hero-title {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--primary-color);
  margin-bottom: 0.3rem;
}

.hero p {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1;
  width: 90%;
  margin: 0 auto;
}

.hero .hero-image {
  width: 100%;
}

.services {
  margin-top: 2rem;
}

.services-title {
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--primary-color);
  width: 70%;
  margin: 0 auto 1rem;
}

.service-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.service-item {
  flex: 0 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-item p {
  font-size: 0.6875rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0.5rem;
}

.service-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 2rem;
  color: #f24e1e;
}

.service-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: var(--secondary-color);
}

.hero-ac {
  height: auto;
  width: 100%;
  margin-top: 1rem;
}

.feature-item {
  margin-bottom: 2rem;
}

.title {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--primary-color);
  width: 80%;
  margin: 0 auto 0.5rem;
}

.title span {
  color: var(--bg-color);
}

.feature-desc p {
  font-size: 0.6875rem;
  font-weight: 400;
  width: 80%;
  margin: 0 auto 0.5rem;
}

.feature-img {
  width: 90%;
}

.contact {
  padding: 2rem 0 0;
  position: relative;
}

.contact-links {
  width: 70%;
  margin: 1rem auto 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-btn {
  position: relative;
}

.contact-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
}

.contact-maps {
  border: 0;
  width: 100%;
  height: 50vh;
}

.contact-vec {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer {
  padding: 0 2rem 3rem;
  background-color: var(--primary-color);
}

.footer-logo {
  height: 3rem;
}

.footer-logo a {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;
}

.footer-logo h1 {
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-logo img {
  height: 100%;
}

.footer-list {
  display: flex;
  gap: 1rem;
  text-align: left;
  margin-top: 2rem;
}

.footer-nav {
  width: 50%;
}

.footer-title {
  font-size: 0.6875rem;
  color: var(--secondary-color);
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-content {
  list-style: none;
  font-size: 0.6875rem;
  font-weight: 400;
  color: #ffffff;
}

.footer-content li {
  margin-bottom: 0.5rem;
}

.slide-item img {
  width: 80%;
  height: 26rem;
  object-fit: cover;
  object-position: top center;
  padding: 1rem 0;
}

.splide__pagination {
  bottom: -1.5rem;
}

.splide__arrow {
  background: var(--primary-color);
}

.splide__pagination__page.is-active {
  background: var(--primary-color);
}

.portfolio {
  padding: 2rem 0 3rem;
  background-color: var(--secondary-color);
}
